.pie-chart-container {
  height: 25%;
}
.pie-chart-container .total-value {
  font-size: 1.5em !important;
}
.summary-container {
  height: 100%;
  background-color: #fafafa;
  padding-top: 6em;
}

.btn-summary {
  width: 70%;
  font-size: 1em;
  font-weight: bold;
  color: rgb(70, 70, 70);
}
