<ul class="pagination justify-content-between align-items-end">
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li
    [ngClass]="
      date.getTime() === selectedDate.getTime()
        ? 'active page-item'
        : 'page-item'
    "
    *ngFor="let date of dates"
    (click)="onSelectNewDate(date)"
  >
    <p class="m-0 mb-1 p-0 text-center date-day">{{ date | date: "EEE" }}</p>
    <a class="page-link rounded" href="#">{{ date | date: "d" }}</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
